.konum_kapsayici {
            background-color: none;
            padding: 0px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        /* Konum Başlığını Ortalamak ve Stillemek */
        .konum h2 {
            display: block;
            text-align: center;
            padding: 24px 24px;
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-shadow: 2px 2px 8px black;
            background-color: rgb(170, 200, 180);
            margin-top: 100px;
            margin-bottom: 0px;

         
        }
        .konum_harita {
            width: 100%;
            
            /* 16:9 oranı vermek için (padding-bottom: 56.25%) veya sabit yükseklik kullanabilirsiniz */
        }

        .calisma_saatleri_ortala{
            display: flex;
            justify-content: center;
            margin-top: 50px;
            background-color: white;
            padding: 30px; /* Padding azaltıldı */
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 12px;
            max-width: 600px; /* Max genişlik artırıldı */
        }

        /* Yeni Çalışma Saatleri Düzeni (Flex kullanarak yan yana hizalama) */
        .calisma_tablo {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px; /* Satırlar arası boşluk */
        }

        .calisma_satir {
            display: flex;
            justify-content: space-between; /* Gün ve Saat arasında tam boşluk bırakır */
            padding: 8px 0;
            border-bottom: 1px solid #eee;
        }

        .calisma_satir:last-child {
            border-bottom: none; /* Son satırın alt çizgisini kaldırır */
        }

        .calisma_satir_gun {
            /* Gün bilgisini tutan kısım */
            font-weight: bold;
            color: #444;
        }

        .calisma_satir_saat {
            /* Saat bilgisini tutan kısım */
            color: #6e767f; /* Saatleri farklı renkte gösterir */
        }

        .calisma_text{
            
            display: block;
            text-align: center;
            padding: 24px 24px;
            color: white;
            font-size: 24px;
            font-weight: bold;
            text-shadow: 2px 2px 8px black;
            background-color: rgb(170, 200, 180);
            margin-top: 50px; /* Boşluk azaltıldı */
        }
    