

.hero2 {
    background-color: rgb(102, 145, 102); 
    width: 100%;
}


.ana_menu_div {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.logo{
        object-fit: contain;
        width:80px;
         height: auto;
}

.logo_div a img {
    height: 60px; 
    display: block;
}


.ana_menu {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    
    
   
    flex: 1; 
    justify-content: center;
    /* ------------------------------------------- */
}

/* Menü Bağlantı Linkleri */
.ana_menu_linkler {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: color 0.3s;
}

/* Menü Bağlantısı Hover Etkisi */
.ana_menu_linkler:hover {
    color: #4CAF50; 
}
